<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lost_foundpersons">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="My Finder"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lost_FoundPersons">
        <receiver
            android:enabled="true"
            android:exported="true"
            android:name=".receivers.StartMyServiceAtBootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>
        <receiver android:exported="false"
            android:name=".receivers.CheckConnectivity" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity android:name=".NotificationView"
            >

        </activity>
        <activity android:name=".MatchedActivity" />
        <activity android:name=".All_records" />
        <activity android:name=".Myrecords" />
        <activity android:name=".Contact_us" />
        <activity android:name=".about_us" />
        <activity android:name=".Found" />
        <activity android:name=".Missing" />
        <activity android:name=".Dashboard" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".CreateAccount" />
        <service android:name=".receivers.Myservice"/>
    </application>

</manifest>